<!-- Optimized favicon loading - reduced to essential sizes only -->
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-icon-180x180.png" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/favicon/mstile-144x144.png" />
